[submodule "External/GoogleTest"]
	path = External/GoogleTest
	url = https://github.com/google/googletest.git
[submodule "External/fmtlib"]
	path = External/fmtlib
	url = https://github.com/fmtlib/fmt.git
